# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.pdf
*.jpg

###############################
###############################
###############################
*.RData
.Rhistory
Kazem/
Dimitris_JAGSmodel.R
3-10-2016 simulations old/
22-06-2017 simulation TEST/
15-09-2016 analysis old/
12-10-2016 analysis (after first submission)/
04-11-2019 analysis (after revision)
new simulations after review/

simple JM/
Latent Class model/
test selections classes in mixed models/
evolutions test.R
tests.R


OLD results/
OLD results 2/

simulate class 1 TEST.R
Simulate multiple datasets.R


Results2Class/
Results3Class/

Results3ClassSelection*/
Results2ClassSelection*/
Results1ClassSelection*/

Variance RE full matrix and class specific/

22-06-2017 simulation TEST/

*.xlsx
*.eps